## Loops

In [1]:
n = 10
while n <= 20:
    print("Executed n =", n)
    n += 1

Executed n = 10
Executed n = 11
Executed n = 12
Executed n = 13
Executed n = 14
Executed n = 15
Executed n = 16
Executed n = 17
Executed n = 18
Executed n = 19
Executed n = 20

In [3]:
while True:
    print("Still running")
    break

Still running

In [4]:
cnt = 1

while True:
    print("Cnt =", cnt)
    cnt += 1
    if cnt == 10:
        break

Cnt = 1
Cnt = 2
Cnt = 3
Cnt = 4
Cnt = 5
Cnt = 6
Cnt = 7
Cnt = 8
Cnt = 9

In [ ]:
cnt = 0

while cnt < 10:
    cnt += 1
    if cnt == 5:
        continue # when this condition is the case, loop goes back to the beginning, ignoring further commands.
    print("Cnt =", cnt)

Cnt = 1
Cnt = 2
Cnt = 3
Cnt = 4
Cnt = 6
Cnt = 7
Cnt = 8
Cnt = 9
Cnt = 10

In [11]:
l = [1, 2, 3]
i = 0
check_number = 3
while i < len(l):
    if l[i] == check_number:
        print("Found")
        break
    i += 1
else:
    print("Not found")

Found

## FOR loop

In [12]:
lst = [1, 2, 3, 4,]
for a in lst:
    print(a)

1
2
3
4

In [14]:
users = {"user1": "John", "user2": "Adam", "user3": "Josh"}
for user in users:
    print(user, users[user])

user1 John
user2 Adam
user3 Josh

In [15]:
users = {"user1": "John", "user2": "Adam", "user3": "Josh"}
for user in users.values():
    print(user)

John
Adam
Josh

In [ ]:
users = [("user1", "John"), ("user2", "Adam"), ("user3", "Josh")]

for user in users:
    print(user)

('user1', 'John')
('user2', 'Adam')
('user3', 'Josh')

In [17]:
users = [("user1", "John"), ("user2", "Adam"), ("user3", "Josh")]

for key, user in users:
    print(user)

John
Adam
Josh

In [18]:
print(range(100))

range(0, 100)

In [19]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [20]:
r = range(100)
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [21]:
r = range(5, 10)
for i in r:
    print(i)

5
6
7
8
9

In [22]:
r = range(5, 30, 2)
for i in r:
    print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29

In [23]:
r = range(10, 2, -1)
for i in r:
    print(i)

10
9
8
7
6
5
4
3

In [29]:
languages = ["Java", "Python", "JS"]
versions = [14, 3, 6]

for i in range(len(languages)):
    print(languages[i], versions[i])

Java 14
Python 3
JS 6

In [32]:
for i in zip(languages, versions):
    print(i)

('Java', 14)
('Python', 3)
('JS', 6)

In [33]:
for language, version in zip(languages, versions):
    print(language, version)

Java 14
Python 3
JS 6

In [34]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2