In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("test.db")

In [3]:
type(connection)

sqlite3.Connection

In [10]:
con = sqlite3.connect(":memory:")
query = "select datetime('now', 'localtime')"
cursor = con.cursor()
time = cursor.execute(query)
time.fetchone()

con.close()

In [12]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "select datetime('now', 'localtime')"
    data = cursor.execute(query)
data.fetchone()

('2026-01-29 10:03:18',)

In [13]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "create table Students(fname text, lname text, age int)"
    data = cursor.execute(query)

In [14]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "Insert into Students Values('Ali', 'Valiev', 21)"
    data = cursor.execute(query)

In [24]:
create = '''
    create table Students(fname text, lname text, age int)
'''

insert = '''
    Insert into Students Values
    ('Ali', 'Valiev', 21),
    ('Tolib', 'Qodirov', 19),
    ('Gani', 'Aliev', 22),
    ('Sardor', 'Ahmadaliev', 31),
    ('Erik', 'Haydar', 41)
'''
delete = "drop table if exists students"

In [28]:
with sqlite3.connect('students.db') as connection:
    cursor = connection.cursor()
    cursor.execute(delete)
    cursor.execute(create)
    cursor.execute(insert)

In [30]:
sql = """
    drop table if exists people;
    create table people(
    FirstName text,
    LastName text,
    Age int
    );
    insert into people values(
    'Ron', 'Obvious', '41'
    );
"""

with sqlite3.connect('test.db') as connection:
    cursor = connection.cursor()
    cursor.executescript(sql)

In [31]:
people_values = (
    ("Ron", "Obvious", 42),
    ("Luigi", "Vercotti", 43),
    ("Arthur", "Belling", 28)
)

cursor.executemany("Insert into people values(?, ?, ?)", people_values)

In [32]:
connection.commit()

In [34]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
age = int(input("enter your age: "))
query = f'''
    Insert into people values
    ('{first_name}', '{last_name}', '{age}');
'''
with sqlite3.connect('test.db') as connection:
    cursor = connection.cursor()
    cursor.execute(query)

In [40]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
age = int(input("enter your age: "))
data = (first_name, last_name, age)
with sqlite3.connect('test.db') as connection:
    cursor = connection.cursor()
    cursor.execute("Insert into people values(?, ?, ?)", data)

OperationalError: database is locked

In [46]:
cursor.execute(
"SELECT FirstName, LastName FROM People WHERE Age > 30;")

In [47]:
cursor.fetchall()

[('Ron', 'Obvious'), ('Ron', 'Obvious'), ('Luigi', 'Vercotti')]

In [48]:
for row in cursor.fetchall():
    print(row)

In [51]:
import sqlite3
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()

cursor.execute(
"SELECT FirstName, LastName FROM People WHERE Age > 30;"
)
for row in cursor.fetchall():
    print(row)

('Ron', 'Obvious')
('Ron', 'Obvious')
('Luigi', 'Vercotti')